.plusImage 
{ 
	list-style-image:url('../images/plus.png');	
	cursor:pointer;	
} 

.minusImage 
{ 
	list-style-image:url('../images/minus.png'); 
	cursor:pointer; 
} 

.selectedImage 
{ 
	list-style-image:url('../images/selected.png'); 
	cursor:pointer;
}